@model InventoryManagement.Authentication.LoginModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "../Shared/_LayoutAdmin.cshtml";
}

<style type="text/css">
    /* Bordered form */
    form {
        border: 3px solid #f1f1f1;
    }

    /* Full-width inputs */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    /* Set a style for all buttons */
    button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

        /* Add a hover effect for buttons */
        button:hover {
            opacity: 0.8;
        }

    /* Extra style for the cancel button (red) */
    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }

    /* Center the avatar image inside this container */
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }

    /* Avatar image */
    img.avatar {
        width: 40%;
        border-radius: 50%;
    }

    /* Add padding to containers */
    .container {
        padding: 16px;
    }

    /* The "Forgot password" text */
    span.psw {
        float: right;
        padding-top: 16px;
    }

    /* Change styles for span and cancel button on extra small screens */

    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }

</style>
<div class="wrapper">
    @*  <div class="logo">
    <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="">
    </div>
    <div class="text-center mt-4 name">
    Twitter
    </div>*@
    <form class="p-3 mt-3" asp-action="Login">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="Username" id="userName" placeholder="Username" maxlength="10" required>
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="Password" id="pwd" placeholder="Password" maxlength="20" required>
        </div>
        <button class="btn mt-3" style="background-color:cornflowerblue; color:black">Login</button>
    </form>
</div>